---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Projects - Innefable'>
  <main>
    <section class='size-full'>
      <div class='relative size-full bg-black'>
        <div
          class='absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]'
        >
        </div><div
          class='absolute inset-x-0 top-[-10%] size-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]'
        >
          HELLO THIS
        </div>
      </div>
    </section>
  </main>
</Layout>
