---
import ThemeToggle from '@/components/ui/ThemeToggle.astro';
---

<header class='top-0 z-50 mb-12'>
  <div class='container flex items-center justify-between'>
    <span class='flex cursor-pointer flex-col font-jetbrains'>
      <a href='#'>Innefable</a>
      <span>A portfolio website</span>
    </span>
    <ThemeToggle />
  </div>
</header>
